table, td, tr {
	border: 1px solid black;
	border-collapse: collapse;

}

table {
	margin: auto;
	width: 600px;
	height: 600px;
}

.blackSquares {

	background: black;
}

@media only screen and (max-width: 650px) {

	table {
		margin: auto;
		width: 380px;
		height: 380px;

	}
}